<div ng-controller="TicTacToeCtrl">
    <div ng-switch on="socket.state.gameState.phase" >
        <div ng-switch-when="preGame">
            <h2>Waiting for Players</h2>
            <div ng-switch on="!socket.state.isPlayer && !wantsToBePlayer" >
                <div ng-switch-when="true">
                    <button class="btn btn-primary btnJoin" ng-disabled="!socket.isLoggedIn()" ng-click="becomePlayer()">Play</button>
                </div>
                <div ng-switch-default>
                    {{ {true:'You will be playing.', false:'...'}[socket.state.isPlayer] }}
                </div>
            </div>
        </div>

        <div ng-switch-default> <!--game and gameOver both show board-->
            <div ng-switch on="socket.state.gameState.phase" >
                <div ng-switch-when="gameOver">
                    <h2>Game Over</h2>
                    {{ {true:socket.getVictorName()+' wins!', false:'Tie'}[!!socket.getVictorName()] }}
                </div>
                <div ng-switch-default>
                    <h2>{{ {true:'Your', false:socket.currentPlayerName()+ "'s"}[!!socket.isMyTurn()] }} Turn</h2>
                </div>
            </div>
            <table class="table table-bordered">
                <tbody>
                <tr ng-repeat="row in socket.state.gameState.board">
                    <td class="" ng-repeat="cell in row">
                        <div ng-switch on="cell" >
                            <span ng-switch-when="x">X</span>
                            <span ng-switch-when="o">O</span>
                                <span ng-switch-default>
                                    <a href="" ng-click="makeMove($parent.$parent.$index, $parent.$index)">
                                        {{ {true:'Place', false:'.'}[socket.isMyTurn()] }}
                                    </a>
                                </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>