<div class="hero-unit">
    <h1>Welcome!</h1>
    <p>Play a game of Tic Tac Toe with your buddies. Click Create and then either share the URL or let them scan the barcode to join.</p>
</div>

<div class="row">
    <div class="span6">
        <h2>Join</h2>
        <p><input type="text" class="input-large" placeholder="Enter Code..." id="joinCode" ng-model="roomCode"></p>
        <p>
            <button class="btn btn-primary btnJoin" ng-disabled="!socket.isLoggedIn()" ng-click="clickJoin()">Join {{roomCode}}</button>
        </p>
    </div>
    <div class="span6">
        <h2>Create</h2>
        <p>
            <button class="btn btn-primary btnCreate" ng-disabled="!socket.isLoggedIn()" ng-click="clickCreate()">Create</button>
        </p>
    </div>
</div>

<div class="row">
    <div class="span6 offset3">
        <div ng-switch on="socket.getConnectionState()">
            <span ng-switch-when="InRoom" class="text-error"><span class="text-success" ui-jq="slideUp" ui-options="1000" class="text-success">Connected!</span></span>
            <span ng-switch-when="Connected" class="text-error"><span class="text-success" ui-jq="slideUp" ui-options="1000" class="text-success">Connected!</span></span>
            <span ng-switch-when="LostConnection" class="text-error">Lost Connection! <span class="btn-link" ng-click="reconnect()">Retry</span></span>
            <span ng-switch-default class="text-warning">Connecting... <span class="btn-link" ng-click="reconnect()">Retry</span></span>
        </div>
    </div>
</div>


