
<div class="row">

    <!--Game Logic-->
    <div class="span6">
        <div data-ng-include data-src="'partials/game_tictactoe.html'"></div>
    </div>

    <!--Right Side ShareBox and Player List-->
    <div class="span6">

        <span data-ng-include data-src="'partials/room_sharebox.html'"></span>

        <div>
            <h2>Players</h2>
            <ul>
                <li ng-repeat="player in socket.state.players" ng-class="{true:'text-success', false:'text-error'}[player.online]">
                    {{player.name}} [{{player.gamePiece}}] {{ {true:'(You)', false:''}[socket.isPlayerMe(player)] }}
                </li>
            </ul>
            <!--<h2>Spectators</h2>-->
        </div>

    </div>

</div>
