<div class="hero-unit">
    <span ng-switch on="socket.getConnectionState()" >
                <span ng-switch-when="InRoom">
                    <h2>Room {{socket.state.roomCode}}</h2>
                    <a href="{{urlToJoin()}}">
                        <div ui-jq="qrcode" ui-options="urlToJoin()"></div>
                    </a>
                    <div class="text-success" ui-jq="slideUp" ui-options="1000" class="text-success">Connected!</div>
                </span>
        <div ng-switch-when="LostConnection" class="text-error">Lost Connection! <span class="btn-link" ng-click="reconnect()">Retry</span></div>
        <div ng-switch-default class="text-warning">Connecting... <span class="btn-link" ng-click="reconnect()">Retry</span></div>
    </span>
</div>